<div class="container" style="padding: 10px;">
   <h3>Product</h3>
   <button type="button" class="btn btn-info" (click)="CanAddNewProduct()">New Product</button>
   <br /><br />
   <div class="inset__side" *ngIf="canAddProduct">
     <input class="form-control col-md-2" placeholder="Id" #txtProductId />
     <input class="form-control col-md-2" placeholder="Titile" #txtProductTitle>
     <select class="form-control col-md-2" #drpMfg>
       <option value="Fastrack">Fastrack</option>
       <option value="Wrangler">Wrangler</option>
       <option value="Bewakoof">Bewakoof</option>
       <option value="Puma">Puma</option>
       <option value="Charm">Charm</option>
     </select>
     <input class="form-control col-md-2" placeholder="Date" #txtProductDate>
     <input class="form-control col-md-2" placeholder="Price" #txtProductPrice>
     <label class="checkbox-inline"><input type="checkbox" value="Black" (change)="setColor(color1.checked, color1.value)" #color1>Black</label> &nbsp;
     <label class="checkbox-inline"><input type="checkbox" value="White" (change)="setColor(color2.checked, color2.value)" #color2>White</label> &nbsp;
     <label class="checkbox-inline"><input type="checkbox" value="Brown" (change)="setColor(color3.checked, color3.value)" #color3>Brown</label> &nbsp;
     <label class="checkbox-inline"><input type="checkbox" value="Blue" (change)="setColor(color4.checked, color4.value)" #color4>Blue</label> &nbsp;
     <br />
     <label class="radio-inline"><input type="radio" name="available" value="true" #rbtnAvailable>Available</label> &nbsp; &nbsp;
     <label class="radio-inline"><input type="radio" name="available" value="false" #rbtnNotAvailable>Not Available</label>
     <br /> <br />
     <button class="btn btn-success">Save Product</button>
  </div>
  <br  />
  <table class="table table-bordered">
     <thead class="thead-dark">
        <th>#</th>
        <th><a (click)="setSortColumnAndOrder('price')" style="cursor: pointer">Title</a></th>
        <th>Manufacture</th>
        <th>Manufacture Date</th>
        <th (click)="setSortColumnAndOrder('price')" style="cursor: pointer">Price</th>
        <th>Color</th>
        <th>Available</th>
        <th>Action</th>
     </thead>
     <tbody>
        <tr *ngFor="let item of ProductList" [ngClass]="{notavailable: !item.ProductAvailable}">
          <td>{{item.ProductId}}</td>
          <td>{{item.ProductTitle}}</td>
          <td>{{item.ProductMFG}}</td>
          <td>{{item.ProductMFGData | date: 'mediumDate'}}</td>
          <td>{{item.ProductPrice | currency: 'INR': 'symbol':'4.2-2'}}</td>
          <td>{{item.ProductColor}}</td>
          <td><span *ngIf="item.ProductAvailable">Yes</span><span *ngIf="!item.ProductAvailable">No</span></td>
          <td>
            <button type="button" class="btn btn-danger btn-sm" (click)="RemoveProduct(item)">Remove</button>
            &nbsp; &nbsp;
            <button type="button" class="btn btn-primary btn-sm" (click)="UpdateProduct(item)">Update</button>
          </td>
        </tr>
     </tbody>
  </table>
 </div>